*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:#020617;
}

.register-form{

    width:400px;

    background:#0f172a;

    padding:40px;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

h1{
    text-align:center;
    color:white;
}

input{

    padding:15px;

    border:none;

    border-radius:10px;
}

button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

p{
    color:white;
    text-align:center;
}

a{
    color:#38bdf8;
}